@import '../../../styles.scss';

.nav-container {
  background-color: var(--bg-surface-dark);
  position: sticky;
  top: 0;
  height: 65px;
  width: 100%;
  border-bottom: 1px solid var(--bg-hover);
  z-index: 1;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 0 20px;
  position: relative;
}

.navbar-center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.social-links a {
  @include link-hover;
  margin-left: 15px;
  color: var(--text-primary);
  font-size: 1.6em;
}

.nav-links {
  display: flex;
  gap: 8px;
}

.nav-button {
  @include button-base;
  width: 120px;
  height: 40px;
  border: none;
  color: var(--text-primary);
  border: 1px solid var(--bg-hover);
}

.nav-button:hover {
  background-color: var(--bg-hover) !important;
  border-color: var(--accent-bright);
  border: 1px solid var(--accent-bright);
  transition: background-color 0.2s, color 0.2s, border-color 0.2s;
  transition: background-color 0.2s, color 0.2s;
  transition: border-color 0.2s;
}

.nav-button.active {
  background-color: var(--bg-surface);
  border-color: var(--accent-bright);
}

.logo a {
  font-weight: bold;
  font-size: 2em;
  color: var(--text-primary);
  text-decoration: none;
  letter-spacing: -4px;
  user-select: none;
}

.logo:hover a {
  color: var(--accent-primary);
  transition: color 0.2s;
}

.hamburger-menu {
  display: none;
  background: none;
  border: none;
  color: var(--text-primary);
  font-size: 1.5em;
  cursor: pointer;
  padding: 5px 10px;

  &:hover {
    color: var(--accent-primary);
    transition: color 0.2s;
  }
}

@media (max-width: 768px) {
  .hamburger-menu {
    display: block;
    min-height: 65px;
  }

  .navbar {
    flex-wrap: wrap;
  }

  .navbar-center {
    position: relative;
    transform: none;

    left: 0;
    height: 0;
    width: 100vw;

    gap: 0;
    flex-direction: column;

    margin: 0 -20px;
    background-color: var(--bg-surface-dark);
    overflow: hidden;
    transition: height 0.2s ease;

    &.mobile-menu-open {
      border-bottom: 1px solid var(--bg-hover);
      height: 150px;
    }
  }

  .nav-button {
    width: 100vw;
    height: 100%;
    border-radius: 0;
    border: none;
    border-top: 1px solid var(--bg-hover);
  }

  .social-links {
    display: none;
  }
}
