<div class="nav-container">
  <nav class="navbar">
    <div class="logo">
      <a routerLink="/" routerLinkActive="active">BIK</a>
    </div>
    <button class="hamburger-menu" (click)="toggleMobileMenu()" [class.active]="mobileMenuOpen">
      <i class="fa-solid fa-bars"></i>
    </button>
    <div class="nav-links navbar-center" [class.mobile-menu-open]="mobileMenuOpen">
        <a class="nav-button" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="closeMobileMenu()">About</a>
        <a class="nav-button" routerLink="/projects" routerLinkActive="active" (click)="closeMobileMenu()">Projects</a>
        <a class="nav-button" routerLink="/contact" routerLinkActive="active" (click)="closeMobileMenu()">Contact</a>
    </div>
    <div class="social-links">
      <a href="https://github.com/BeXeB/"><i class="fa-brands fa-github"></i></a>
      <a href="https://www.linkedin.com/in/bence-imre-kiss/"><i class="fa-brands fa-linkedin-in"></i></a>
      <a href="mailto:bence@bexe.dev"><i class="fa-solid fa-at"></i></a>
    </div>
  </nav>
</div>
