<div class="container">
  <div class="top-row">
    <app-page-title
      [title]="'Project Details'"
      [backLink]="'/projects'"
    ></app-page-title>
    <div class="buttons">
      @if (project?.projectUrl) {
        <button class="go-button" (click)="openProject(project?.projectUrl)">
          Go to Project
        </button>
      }
      @if (project?.repoUrl) {
        <button class="go-button" (click)="openProject(project?.repoUrl)">
          Go to Repo
        </button>
      }
    </div>
  </div>
  <div class="project-details" [innerHTML]="htmlContent"></div>
</div>
