<div class="container">
  <div class="logo">
    <div class="logo-text">BIK</div>
  </div>
  <div class="about">
    <div>
      <div class="name">Bence Imre Kiss</div>
      <div class="title">Software Developer</div>
      <p class="about-text">
        Newly graduated software developer looking
        for new challenges and opportunities to learn
        and grow professionally. I enjoy learning new
        technologies by solving problems and working
        on projects, be it personal or professional.
        Outside of work, I use my skills to develop games
        and build tools for my hobbies.
      </p>
    </div>
    <div class="image-container">
      <img src="assets/images/profile.jpeg" alt="Profile picture">
    </div>
  </div>
  <div class="links">
    <div class="link-card" [routerLink]="'/projects'">
      <div class="link-card-title">Projects</div>
      <div class="link-card-subtitle">View my projects</div>
    </div>
    <div class="link-card" [routerLink]="'/contact'">
      <div class="link-card-title">Contact</div>
      <div class="link-card-subtitle">Get in touch with me</div>
    </div>
    <div class="link-card" (click)="openCV()">
      <div class="link-card-title">CV</div>
      <div class="link-card-subtitle">View my CV</div>
    </div>
  </div>
</div>

